@import './theme'
@import '~vuetify/src/stylus/app'
@import './transitions'
@import './colors'

.no-margin {
  margin: 0;
}

$anime := {
    padding: 15px
    width: 150px
    img-height: 210px
    img-border: 4px
    margin: 2px
    font-size: 16px
    rating-size: 25px
    description-size: 24px
    subtitle-size: 19px
}

$anime-height = $anime.img-height + $anime.img-border + $anime.padding + $anime.margin * 2 + $anime.subtitle-size + $anime.font-size * 2.5 + $anime.rating-size + $anime.description-size + $anime.padding

.application.theme--dark {
  h1, h2, h3, h4, h5, h6 {
    color: #D3D3D3;
  }
}

a, .list__tile--active {
  color: inherit;
}

.icon.material-icons {
  display: inline-flex;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')